<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		<title>Polyticks</title>
		
		<!-- styles -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
	
		<!-- scripts -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/global.js"></script>
		<script src="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
		
	</head>
						
	<body>
		
		<header id="wrapHeader">
			<div class="logo"><a href="/">Polyticks</a></div>
			<nav id="main-nav">
				<a class="hidden-md hidden-lg menu-toggle"></a>
				<ul class="menu">
					<li class="profile"><a href="#profile">Profile</a></li>
					<li class="survey"><a href="#survey">Survey</a></li>
					<li class="results"><a href="#results">Results</a></li>
				</ul>
			</nav>
		</header>
		
		<main id="wrapContent">
			
			<section id="register">
				
				<div class="container container-narrow">
					
					<div class="row">
						<div class="col-xs-12">
				
						<form name="register" ng-submit="submit()" validate>
							<div class="user-mugshot">
								<img ng-src="{{ currentConnection.imageUrl }}" src="img/ChrisWolf400.jpg" />
							</div>
							<div class="user-welcome">
								<span class="pre-form-balance">Welcome,</span>
								<div class="fields-display user-name active" ng-click="editName()">
									<div class="form-group textbox" ng-class="{ 'has-error' : (register.firstName.$invalid && (register.firstName.$touched || submitted)) || (register.lastName.$invalid && (register.lastName.$touched || submitted)) }">
										<label class="edit">Name</label>
										<div class="display-text">{{ currentUser.firstName }} {{ currentUser.lastName }}</div>
									</div>
								</div>
								<div class="fields-edit user-name">
									<div class="form-group textbox">
										<label for="currentUser.firstName" class="edit">First Name</label>
										<input type="text" ng-model="currentUser.firstName" name="firstName" id="currentUser.firstName" class="form-control" placeholder="*First Name" required>
											</div>
									<div class="form-group textbox">
										<label for="currentUser.lastName" class="edit">Last Name</label>
										<input type="text" ng-model="currentUser.lastName" name="lastName" id="currentUser.lastName" class="form-control" placeholder="*Last Name" required>
											</div>
									<a ng-click="editName()">Done</a>
								</div>
							</div>
							<p class="survey-intro">Just a few more details to set up your profile</p>
							<div class="form-set">
								<div class="form-group textbox" ng-class="{ 'has-error' : register.UserEmail.$invalid && (register.UserEmail.$touched || submitted) }">
									<label for="currentUser.email" class="edit">Email</label>
									<input type="email" ng-model="currentUser.email" name="UserEmail" id="currentUser.email" class="form-control" placeholder="*Your Email" required>
										</div>
								<div class="form-group textbox" ng-class="{ 'has-error' : register.UserZip.$invalid && (register.UserZip.$touched || submitted) }">
									<label for="currentUser.zip" class="edit">Phone</label>
									<input type="text" ng-model="currentUser.zip" mask="99999" mask-clean="true" name="UserZip" id="currentUser.zip" class="form-control" placeholder="*Your Zip Code" required>
										</div>
								<button type="submit" class="btn btn-gold">Get Started</button>
							</div>
						</form>
					</div>
				</div>
				
			</section>

			<section id="profile">
				
				<div class="container">
					
					<div class="row">
						
						<div class="col-xs-12 col-sm-4 col-md-3 user-profile">
							
							<div class="user-mugshot">
								<img ng-src="{{ currentConnection.imageUrl }}" src="img/ChrisWolf400.jpg" />
							</div>
							<div class="user-name">
								Christopher<br />Wolfenstein
							</div>
							
							<h3>Profile Information</h3>
							<ul class="profile-information">
								<li class="email">user@emaildomain.com</li>
								<li class="city">Mount Pleasant</li>
								<li class="state">South Carolina</li>
							</ul>
						</div>
						
						<div class="col-xs-12 col-sm-6 col-md-5 col-sm-push-1 col-md-push-2 user-dashboard">
							
							<div class="attributes-overview">
								
								<h2>On the Issues</h2>
								
								<div class="attribute defense conservative">
									<h4>Defense</h4>
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
											<span class="sr-only">10% Conservative</span>
										</div>
									</div>
								</div>
								<div class="attribute diplomacy liberal">
									<h4>Diplomacy</h4>
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
											<span class="sr-only">10% Liberal</span>
										</div>
									</div>
								</div>
								<div class="attribute economy conservative">
									<h4>Economy</h4>
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
											<span class="sr-only">40% Conservative</span>
										</div>
									</div>
								</div>
								<div class="attribute education moderate">
									<h4>Education</h4>
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
											<span class="sr-only">Moderate</span>
										</div>
									</div>
								</div>
								<div class="attribute social liberal">
									<h4>Social</h4>
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
											<span class="sr-only">30% Liberal</span>
										</div>
									</div>
								</div>
								
							</div>
							
							<div class="matches-overview">
								
								<h2>Top Comparisons</h2>
								
								<div class="comparison">
									<h4>Presidents</h4>
									<div class="candidate">
										<div class="candidate-chart" id="trump"></div>
										<img src="img/trump.jpg" />
										<h5>Donald Trump</h5>
									</div>
									<div class="candidate">
										<div class="candidate-chart" id="fiorina"></div>
										<img src="img/fiorina.jpg" />
										<h5>Carly Fiorina</h5>
									</div>
									<div class="candidate">
										<div class="candidate-chart" id="rubio"></div>
										<img src="img/rubio.jpg" />
										<h5>Marco Rubio</h5>
									</div>
									<script>
										new Chartist.Pie('#trump', {
											 series: [72, 64, 84, 36, 92, 52]
											 }, {
											 donut: true,
											 donutWidth: 20,
											 startAngle: 270,
											 total: 0,
											 showLabel: false
										 });
										 new Chartist.Pie('#fiorina', {
											  series: [84, 36, 92, 72, 64, 52]
											  }, {
											  donut: true,
											  donutWidth: 20,
											  startAngle: 270,
											  total: 0,
											  showLabel: false
										 });
										 new Chartist.Pie('#rubio', {
											   series: [36, 92, 52, 72, 64, 84]
											   }, {
											   donut: true,
											   donutWidth: 20,
											   startAngle: 270,
											   total: 0,
											   showLabel: false
										 });
									</script>
								</div>
								
							</div>
							
						</div>
						
					</div>
					
				</div>
				
			</div>

			<section class="container container-narrow" id="survey">
				
				<article class="survey-item" ng-repeat="question in questions" ng-class="{ 'active-question': $index == questionIndex , 'finished-question': $index < questionIndex }">
					<h2 class="survey-question">Should we deport Obama?</h2>
					<div class="survey-answers">
						<div class="form-group radio">
							<input type="radio" id="answer-disagree" name="q1" />
							<label for="answer-disagree">Disagree</label>
						</div>
						<div class="form-group radio">
							<input type="radio" id="answer-neutral" name="q1" />
							<label for="answer-neutral">Don't Care</label>
						</div>
						<div class="form-group radio">
							<input type="radio" id="answer-agree" name="q1" />
							<label for="answer-agree">Agree</label>
						</div>
					</div>
				</article>
				
				<footer class="survey-progress" style="display: none;">
					<ul>
						
						<li ng-repeat="result in results track by $index" ng-class="{ 'finished': true }"
							data-value="{{ result.answer.ordering }}">
							<a href="#{{ result.question.id }}">
								<span class="question-data">{{ result.question.question }}<strong>{{ result.answer.answer }}</strong></span>
							</a>
						</li>
					</ul>
				</footer>
			</section>

			<section id="results">
			
			</section>
			
		</main>
		
		<footer id="wrapFooter">
		</footer>
		
	</body>
</html>