<section class="container" id="survey" ng-controller="SurveyController" ng-if="currentUser">
	<div class="survey-questions container container-narrow">
		<article class="survey-item" ng-repeat="question in questions" ng-class="{ 'active-question': $index == questionIndex , 'finished-question': $index < questionIndex }">
			<h2 class="survey-question">{{ question.text }}</h2>
			<div class="survey-answers">

				<div class="form-group radio" ng-repeat="answer in answersByQuestion[questions[questionIndex].id]">
					<input type="radio" class="{{ answer.text.toLowerCase() }}" id="{{ answer }}" ng-click="answerQuestion(answer)" name="question" />
					<label for="{{ answer }}" ng-click="answerQuestion(answer)">{{ answer.text }}</label>
				</div>
			</div>
		</article>
	</div>
	
	<footer class="survey-progress">
		<ul class="status container">
			<li class="finished" ng-class="{yes: response === 'Yes', no: response === 'No', neutral: response === 'Undecided'}"
				ng-repeat="response in responses track by $index">{{ response }}</li>
		</ul>
	</footer>

	<footer class="survey-progress" style="display: none;">
		<ul>
			<li ng-repeat="result in results track by $index" ng-class="{ 'finished': true }"
				data-value="{{ result.answer.ordering }}">
				<a href="#{{ result.question.id }}">
					<span class="question-data">{{ result.question.question }}<strong>{{ result.answer.answer }}</strong></span>
				</a>
			</li>
		</ul>
	</footer>
</section>
